
.DS_Store
*.cpg
*.prj
*.sbn
*.dbf
*.sbx
*.shp
*.xml
*.shx
2017_GIS_workshop/.Rproj.user/8373EBA9/sdb/s-EE2EAFCD/6477E15C
2017_GIS_workshop/.Rproj.user/8373EBA9/sdb/s-EE2EAFCD/B16B944D
2017_GIS_workshop/.Rproj.user/8373EBA9/sdb/s-EE2EAFCD/3A629598
2017_GIS_workshop/.Rproj.user/8373EBA9/sdb/s-EE2EAFCD/3A629598
